<strong>Olá, {{ student }} </strong>
<p>Bem vindo a Gympoint, {{ student }} - confira os detalhes do seu plano abaixo:</p>
<p>
  <strong>Plano:</strong> {{ plan }} <br />
  <strong>Valor:</strong> {{ value }} <br />
  <strong>Data de inicio do plano:</strong> {{ start_date }} <br />
  <strong>Data final do plano:</strong> {{ end_date }} <br />
</p>